/*Global styles*/

body {
    background-color:dimgray;
 }

 header {
    background-color:aliceblue;
 }

 main {
    background-color:deepskyblue;
 }

 footer{
    background-color:aliceblue;
 }

 /* section styles */

 section {
    border: 1px solid black;
    padding: 5px;
 }