/*Global styles*/

body {
    background-color:black
 }

 header {
    background-color:aliceblue;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  

 }

 main {
    background-color:dimgray;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
 }

 footer{
    background-color:aliceblue;
 }

 /* section styles */

 .container {
    position: relative;
    text-align: left;
    color: white;
 }

 .bottom-left {
    position: absolute;
    bottom: 370px;
    left: 106px;
  }
 

 